<main role="main">

    <img src="../../../assets/images/appLogo.png" style="width:300px; height: 300px " class="center-img">

  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" i18n="@@homeTitleFirst">For whom is our site created?</h2>
        <p class="lead" i18n="@@homeContentFirst">Our platform was created for 3 kind of users. First type are company managers that
          want to use our service to sell product and hire a consultant. Second is a people that have a knowledge
          in some scope and want to consult customers during free time. And the last one is common customer that
          want to get qualify and fast online consultation when he need to.</p>
      </div>
      <div class="col-md-5">
        <img src="../../../assets/images/home1.png"
             alt="Generic placeholder image" width="450" height="280">
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" i18n="@@homeTitleSecond">What do we offer to customers?</h2>
        <p class="lead" i18n="@@homeContentSecond">Our team think that peoples must get a help only when they want to. Therefore we provide
          a platform with which you will never wait for consultants when you need to and vice versa, you won't need to
        listen them when you don't want to.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../../assets/images/time.png"
             alt="Generic placeholder image" width="300" height="300">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" i18n="@@homeTitleThird">What do we offer to consultants? </h2>
        <p class="lead" i18n="@@homeContentThird">You have an excellent knowledge of some scope? You want to help people in free time? So we offer
        you to register in our platform and you will a free schedule and payment from every product you've sold</p>
      </div>
      <div class="col-md-5">
        <img src="../../../assets/images/coins.png"
             alt="Generic placeholder image" width="300" height="300">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" i18n="@@homeTitleFourth">What do we offer to companies? </h2>
        <p class="lead" i18n="@@homeContentFourth">Sometimes customers complains about company's consultants which whether don't know simple things
        that they must know perfectly or very obtrusive. Furthermore a regular employee should get used to the situation
          in the store. Therefore we offer you to hire a consultants from our platform and provide products that they
          can sell and receive part of the profits </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../../assets/images/increasing.png"
             alt="Generic placeholder image" width="450" height="300">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>

  <footer class="container">
    <p class="float-right"><a href="#" i18n="@@homeRefBack">Back to top</a></p>
    <p i18n="@@homePrivacy"> 2018 Serhii Pyrozhenko, Nure.</p>
  </footer>
  <br />
</main>
